.navbar{
  padding: 0.5rem 1rem;
}

hr{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 0.5px solid white;
}


.navbar-nav{
  flex-direction: row;
}

.main{
  margin-left:5rem;
  margin-right:5rem;
  font-size:1.3rem;
}

.nav-item{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.title{
  margin: 2rem 0 2rem 0;
}

.footer{
  text-align: center;
  font-size: 0.7rem;
  margin: 2rem;
}

strong{
  color: lightskyblue;
}
/* Selects p tags inside footer*/

.footer > p {
  margin-bottom: 0.3rem;
}
